.authors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 60px;
  gap: 20px;
}

.author-card {
  background-image: url('../assets/hoja\ gastada.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 50px 35px;
  transition: all 0.3s ease;
  width: 330px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  color: black;
  font-family: 'Georgia', serif;
  font-size: 18px;
  position: relative;
}

.author-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}

.author-card button {
  background-color: #c4a484;
  color: #3e2723;
  border: 2px solid #8d6e63;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Georgia', serif;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  margin-top: -40px;
}

.author-card button:hover {
  background-color: #a67c52;
  color: #fff;
  transform: scale(1.05);
}




.create-author-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: sticky;
  top: 15px;
  z-index: 1;
}

.create-author-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #c4a484;
  color: #3e2723;
  border: 2px solid #8d6e63;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Georgia', serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.create-author-btn:hover {
  background-color: #a67c52;
  color: white;
  transform: scale(1.05);
}



.loading-message {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-message {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-gif {
  width: 200px;  
  height: 200px; 
  background-image: url('../assets/libro-pasando.gif');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px; 
}

.loading-gif-rating {
  width: 200px; 
  height: 200px;
  background-image: url('../assets/rating-stars.gif');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
}



.author-card:hover {
  transform: translateY(-5px);
}

.author-card .author-info {
  margin-bottom: 15px;
  flex-grow: 1;
}

.author-card h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 600;
}

.author-card p {
  font-size: 14px;
  text-align: justify;
  margin: 10px 0;
  overflow: hidden;
}

.more-info-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.author-card:hover .more-info-btn {
  display: block;
}

.more-info-btn button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.session-expired {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.session-expired .message-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
}

.session-expired h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.session-expired p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.session-expired button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.session-expired button:hover {
  background-color: #0056b3;
}

.author-card h3 {
  font-size: 26px;
  font-weight: bold;
}

textarea#biography {
  height: 150px; 
  width: 100%;  
  resize: vertical;
}